/* general body properties */

body {
    /* This defaults to Helvetica Neue if the viewer has it installed (e.g., Macs) 
       and use a lighter font weight. If they don't have it, we use a decent font from Google Web Fonts. */
    
    /* Warning: if you want alternate font weights, you need to go back to Google Web Fonts and include them in the collection that gets included via <link> */
    font-weight: 300;
    font-family: 'Helvetica Neue','Open Sans',Helvetica,Arial,sans-serif;
    font-size: 15px;
}

a {
  color: #240759;
  text-decoration: none;
}

a:hover {
  color: #432b80;
  text-decoration: underline;
}
/*
a,a:hover {
    color: #990615;
}
*/

.table th, .table td {
    border-top: 0px;
}

h5 {
    margin-bottom: 0px;
    margin-top: 20px;
}

p {
    margin-bottom: 20px;
}


/* bootstrap properties */

#msbnav.navbar-static-top {
    padding-bottom: 25px;
}

#msbnav .navbar-inner {
  /*background-color: #7D0612;*/
  /*background-color: #240759;*/
  /*background-color: rgb(88,142,222);*/
  /*background-image: none;*/
  /*background-repeat: no-repeat;*/
  /*filter: none;*/
  background-image: -moz-linear-gradient(top, #555, #222);
  background-image: -ms-linear-gradient(top, #555, #222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#222));
  background-image: -webkit-linear-gradient(top, #555, #222);
  background-image: -o-linear-gradient(top, #555, #222);
  background-image: linear-gradient(top, #555, #222);

  border-color: #777777;
}

#msbnav .brand {
    color: #DCDCDC;
    font-size: 32px;
    /*font-family:"Yanone Kaffeesatz","Lato",'Helvetica Neue',Helvetica,Arial,sans-serif;*/
    /*font-family:"Oleo Script Swash Caps","Lato",'Helvetica Neue',Helvetica,Arial,sans-serif;*/
    font-family:"Molle","Lato",'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    /*text-transform: uppercase;*/
    line-height: 1.2;
}

.sidenav > .nav-list {
  border: 1px solid #CCCCCC;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #7D0612;
}

.table-condensed {
    margin-bottom: 0px;
}
.table-condensed td {
    padding: 0px 0px;
}

.text-success {
    font-variant:small-caps;
}

.label {
    font-weight: normal;
}



/* msb-defined properties */

.paperimage {
    border: 1px solid #787878;
    min-width: 100px;
    max-width: 100px;
    min-height: 70px;
    max-height: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.papers tr.old {
    display: none;
}

.papers td {
    vertical-align: top;
    padding-left: 0px;
}

.olddate, .olddate a {
    color: #AAAAAA;
}

.faq {
    text-align: justify;
}

.btn-link {
    padding: 0px 0px 30px 0px;
}
