body { font: 100% -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica next", ubuntu, roboto, noto, "segoe ui", arial, sans-serif; color: #333; background: #E5E5E5; width: 900px; padding: 0px; font-size: 1rem; line-height: 1.6em; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

h1 { font-size: 20px; font-weight: bold; margin: 0 0 15px 0; }

h2 { font-size: 16px; font-weight: bold; }

p { line-height: 1.4em; margin: 0px 0px 12px 0px; }

a, a:visited, a:hover { color: #00171F; text-decoration: none; }

a.nav, a.nav:visited { color: #888; font-weight: normal; }

a:hover, a.nav:hover { color: #1a1aff; }

.main { float: left; width: 600px; margin-top: 1rem; margin-left: 260px; margin-right: 20px; }

.current { color: orange; }

.name { text-transform: lowercase; font-weight: bold; font-size: 30px; margin-top: 1rem; margin-bottom: 1.5rem; letter-spacing: 0.2px; }

.sidebar { font-size: 12px; position: fixed; z-index: 5; height: 100%; width: 230px; float: left; margin-right: 20px; }

.contact { float: right; text-align: right; }

.navigate { float: right; margin-top: 14px; width: 214px; }

.navigate h1 { font-size: 20px; font-weight: bold; margin: 0px 0px 5px 0px; text-align: right; text-transform: lowercase; }

.about { margin-left: 0px; margin-top: 0px; float: left; width: 600px; }

.about_imgs { margin-top: 4px; width: 600px; float: left; margin-left: 0px; }

.about_imgs img { border: 1px solid #444; border-top-right-radius: 8px; border-bottom-left-radius: 8px; /*border-radius: 8%;*/ }

.about_imgs a:hover img { border: 1px solid #33f; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); }

.bio { margin-left: 0px; margin-top: 0px; float: left; width: 600px; }

.bio img { border: 1px solid #999; /*border-radius: 8%;*/ border-top-right-radius: 8px; border-bottom-left-radius: 8px; margin: 10px 10px; }

.project_group { margin-bottom: 10px; float: left; }

.project_group_first { margin-top: 0px; }

.project_group h1 { font-size: 20px; /* line-height: 17px; */ text-transform: lowercase; font-weight: bold; text-align: right; /* font-variant: small-caps; */ /*margin: 1px 2px 3px 4px;*/ border-bottom: 2px dotted #888; }

.project { float: left; }

.project_text { float: right; width: 420px; margin-left: 20px; }

.project_text_related { color: #888; margin: inherit; }

.project_text a.nav { color: #00171F; }

.project_text a.nav:hover { color: #33f; }

.project_img { float: left; width: 150px; margin-top: .5rem; margin-left: 0px; }

.project img { border: 1px solid #999; width: 150px; /*border-radius: 10px;*/ border-top-right-radius: 8px; border-bottom-left-radius: 8px; /*margin:10px 10px;*/ }

.pub { float: left; width: 580px; margin-left: 20px; }

.cv a.nav { color: #00171F; }

.cv a.nav:hover { color: #33f; }

.pub a.nav { color: #000; }

.pub a.nav:hover { color: #33f; }

.about a.nav { color: #00171F; }

.about a.nav:hover { color: #33f; }

.bio a { color: #00171F; }

.bio a:hover { color: #33f; }

/*# sourceMappingURL=styles.css.map */